/*.App {
  display:flex
}
*/

@import url("https://fonts.googleapis.com/css2?family=Encode+Sans:wght@500&display=swap");

.AddProduct {
  margin-top: 50px;
}
.inputBox {
  display: block;
  margin: 15px 30%;
  padding: 7px;
  width: 500px;
  border: 1px solid skyblue;
}

.register {
  margin-top: 40px;
  text-align: center;
}

.logo {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  float: left;
  margin-top: 3px;
  margin-left: 10px;
}

.remember-me-box {
  margin-left: -320px;
}

.login {
  margin-top: 40px;
  text-align: center;
}

.input-error {
  color: red;
  margin-left: 390px;
  margin-top: -20px;
  display: block;
}

.appButton {
  width: 300px;
  background-color: skyblue;
  border: none;
  padding: 10px;
  margin: 30px 0 0 500px;
  cursor: pointer;
  /* height: auto; */
}

/*Navigation Bar*/

.nav-ul {
  padding: 5px;
}

.nav-ul a {
  color: #00b1e1;
  font-family: "Encode Sans", sans-serif;
  font-weight: 10px;
  padding: 5px;
  font-size: 22px;
  text-decoration: none;
}
.nav-ul a:hover {
  color: #fff;
  background-color: #00b1e1;
  border-radius: 5px;
  font-size: 24px;
}
.nav-float-right {
  float: right;
}

.nav-float-left {
  float: left;
}
.nav-right {
  text-align: right;
}

.nav-ul li {
  display: inline-block;
  padding: 10px;
}

/* Product List */
.search-product-box {
  margin: auto;
  height: 38px;
  width: 75% !important;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}

.input-search {
  background-color: #00b1e1;
}

.product-list {
  text-align: center;
  margin-top: 100px;
}
.item-list {
  height: 400px;
  overflow: auto;
}

.item-list Table {
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  height: 300px;
  overflow: auto;
}

.item-list Table tr:nth-child(even) {
  background-color: rgb(237, 237, 237);
}

.item-list Table td:nth-child(6) :hover {
  color: rgb(255, 0, 0);
}
.item-list Table th {
  background-color: rgb(78, 75, 75);
  color: azure;
  font-size: 20px;
  font-weight: lighter;
}

.Footer {
  position: fixed;
  bottom: 0;
  text-align: center;
  width: 100%;
  color: #00b1e1;
}
