/*.App {
  text-align: center;
}
*/
.AddProduct{
  margin-top: 50px;
}
.inputBox{
  display: block;
  margin:15px 30%;
  padding:7px;
  width:500px;
  border : 1px solid skyblue;
}

.search-product-box{
  width: 400px;
  margin: 20px;
  height: 38px;
  border: solid 1px skyblue;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}
.register{
  margin-top: 40px;
  text-align: center;
}

.product-list{
  text-align:center;
  margin-top: 50px;
}

.product-list ul li{
  display : inline-block;
  border : 1px solid skyblue;
  padding : 5px;
  width : 200px;
}

.logo{
  width: 50px;
    height: 50px;
    border-radius: 50%;
    float: left;
    margin-top: 3px;
    margin-left: 10px;
}
.nav-right{
  text-align: right;
}

.product-list ul{
  margin:0;
}
.remember-me-box {
  margin-left : -320px;
}

.login{
  margin-top: 40px;
  text-align: center;
}
.nav-ul li{
  display : inline-block;
  padding : 10px;
}

.input-error{
  color: red;
  margin-left: 390px;
  margin-top: -20px;
  display: block;
}

.nav-ul a{
  color :#fff;
  padding: 5px;
    text-decoration : none
}

.appButton {
  width: 300px;
  background-color: skyblue;
  border: none;
  padding: 10px;
  margin:30px 0 0 500px;
  cursor: pointer;
  /* height: auto; */
}

.Footer{
  position : absolute;
  bottom : 0;
  text-align:center;
  width:100%;
  background-color: skyblue;;
}
.nav-ul{
  padding : 5px;
  margin : 0;
  background-color:skyblue;
}
