.App {
  text-align: center;
}
.inputBox{
  display: block;
  margin:25px auto;
  padding:7px;
  width:500px;
  border : 1px solid skyblue;
}

.register{
  margin-top: 40px;
}

.login{
  margin-top: 40px;
}
.nav-ul li{
  display : inline-block;
  padding : 10px;
}

.nav-ul a{
  color :#fff;
  padding : 5px;
  text-decoration : none
}

.appButton {
  width: 300px;
  background-color: skyblue;
  border: none;
  padding: 10px;
  margin: 25px;
  cursor: pointer;
  /* height: auto; */
}

.Footer{
  position : absolute;
  bottom : 0;
  text-align:center;
  width:100%;
  background-color: skyblue;;
}
.nav-ul{
  padding : 5px;
  margin : 0;
  background-color:skyblue;
}
